{% extends "base.html" %}
{% block title %}Reset Password{% endblock %} 
{% block content %}
<body>
    <div class="container">
        <h1>Enter Your New Password</h1>

        <form method="POST">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    {% endblock %}